<!DOCTYPE html>
<html>
    <head>
    <title>Blog > {% block subtitle %}Index{% endblock %}</title>
    </head>
    <body>
    <section>
        {% block content %}
        {% endblock %}
    </section>
    </body>
</html>

