{% extends 'base.Jinja2' %}

{% block subtitle %}Home{% endblock %}

{% block content %}

    {% for post in posts %}
        <h1><a href="/blog/{{ post.key.id() }}">{{ post.subject
        }}</a></h1>
        <p>{{ post.content }}</p>
    {% endfor %}


    <h1>Signup</h1>
<form method="post" action="/blog/login">
    <dl>
	<dt>Username</dt>
	    <dd><input type="text" name="username" value="" /> </dd>
	<dt>Password</dt>
	    <dd><input type="password" name="password" /> </dd>
    </dl>

    <input type="submit" />
</form>

{% endblock %}
